.wholeBox {
  height: 150px;
  overflow-y: scroll;
}

.comment {
  padding-top: 20px;
  width: 100%;
  /* outline: solid 2px white; */
}

.comment-info {
  display: flex;
}

.comment-date {
  padding-left: 10px;
  font-size: x-small;
}

.comment .comment-info img.comment-profile_img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.msgInput {
  width: 400px;
}

form {
  display: flex;
  
}
  