@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&family=Poppins:wght@400;500&display=swap');

*, *::before, *::after{
    outline: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    text-decoration: none;
}
:root{
    --bg-color:#1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color:#ee09ee;
    --second-main-color:#38DD1D;
    --hover-box-shadow: 0 0 1rem #ee09ee;
    --gradient-bg-color: linear-gradient(to bottom, #1f242d, #ee09ee);
    --transition: all .4s ease;
}
body{
    font-family: 'Poppins', sans-serif;
    background: var(--bg-color);
    color: var(--text-color);
    height: 100vh;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px; /* Adjust padding as needed */
  }
.logo img{
    filter: drop-shadow(0 0 0.25rem #fff);
    margin-bottom: 3rem;
}

.icons {
    margin-bottom: 2.8rem; /* Adjust vertical spacing between icons */
    text-decoration: none;
    color: var(--text-color); /* Adjust icon color */
    font-size: 1.8rem;
    transition: var(--transition);
  }
.icons:hover{
    transform: scale(1.3);
  }
.profile-photo img{
    width: 30px;
    height: 35px;
    border-radius: 50%;
}
.photo img{
    width: 22rem;
    border-radius: 1rem;
}

