@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&family=Poppins:wght@400;500&display=swap');

:root{
    --bg-color:#1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color:#ee09ee;
    --second-main-color:#38DD1D;
    --hover-box-shadow: 0 0 1rem #ee09ee;
    --gradient-bg-color: linear-gradient(to bottom, #1f242d, #ee09ee);
    --transition: all .4s ease;
}
body{
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    background: var(--bg-color);
    color: var(--text-color);
}
ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.logo a img{
    text-decoration: none;
    padding: 20px;
}
.header-wrapper header{
    background: url(../images/profilepage/banner.jpg) no-repeat 50% 20% / cover;/*The image is positioned at 50% horizontally and doesn't repeat . The background size is set to 20% of the element's width, and the cover value is used to ensure the background image covers the entire element.*/
    width: 100%;
    min-height: calc(100px + 3vw); /* header's height will be 100px,*/
}
.header-wrapper .cols-container .left-col{
    position: relative;
    margin: 0 auto;
    text-align: center;
    padding: 25px 20px;
    max-width: 350px;
}
.header-wrapper .cols-container .left-col .img-container{
    position: absolute;
    top: -50px; /*moves the element 50 pixels above its normal position*/
    left: 50px;/*moves the element 50 pixels to the right*/
    transform: translateX(-50%);/* moves the element horizontally to the left by 50%*/
}  
.header-wrapper .cols-container .left-col .img-container img{
    width: 120px;
    height: 120px;
    object-fit: cover; /*image covers the entire container / maintaining its aspect ratio*/
    border-radius: 50%;
    display: block;
    box-shadow: 1px 3px 12px;
    margin-left: 5rem;
}
/* .header-wrapper .cols-container .left-col .img-container span{
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    bottom: 3px;
    right: 10px;
    border: 2px solid #fff;
    background: var(--second-main-color);
} */
.header-wrapper .cols-container .left-col h2{
    font-weight: 600;
    margin-top: 70px;
    margin-bottom: 5px;
    font-size: 23px;
}
li{
    display: flex;
    justify-content: space-between;
}
a .edit-btn{
    background: var(--main-color);
    color: var(--bg-color);
    padding: .3rem 1.1rem;
    box-shadow: var(--hover-box-shadow);
    font-size: 1rem;
    border-radius: 3rem;
    transition: var(--transition);
    border: none;
    margin-top: .8rem;
    cursor: pointer;
}
.edit-btn:hover{
    box-shadow: none;
    color: var(--text-color);
}
.header-wrapper .cols-container .left-col p{
    font-size: .9rem;
    margin: 0;
    color: #323946;
}
.header-wrapper .cols-container .left-col .about{
    gap: 2rem;
    justify-content: space-between;
    margin: 35px 0;
}
.header-wrapper .cols-container .left-col .about li{
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    font-size: 1rem;

}
.header-wrapper .cols-container .left-col .about li span{       
    font-weight: 900;
    color: var(--text-color);
}
.header-wrapper .cols-container .left-col .about::about{
    position: absolute;
    content: "";
    bottom: -16px;
    display: block; /*taking up the full width available within the containing element*/
    background: #1f242d;
    width: 100%;
    height: 1px;
}
.header-wrapper .cols-container .content p {
    font-size: 1rem;
    line-height: 1.8em;
    color: var(--text-color);
}
.header-wrapper .cols-container .content ul{
    gap: 2rem;
    margin: 25px;
    justify-content: center;
    align-items: center;
}
.header-wrapper .cols-container .content ul li{
    font-size: 1.4rem;
}
.right-col{
    margin-top: 3rem;
}
.header-wrapper .cols-container .right-col nav{
    display: flex;
    align-items: center;
    padding: 30px 0;
    justify-content: space-between;
    flex-direction: column;
}
.header-wrapper .cols-container .right-col nav ul{
    display: flex;
    gap: 1.7rem;
    flex-direction: column;
}
.header-wrapper .cols-container .right-col nav ul li a{
    text-transform: uppercase;
    color: #9f9f9f;
}
.header-wrapper .cols-container .right-col nav button{
    background: var(--main-color);
    color: var(--bg-color);
    padding: .6rem 1.5rem;
    box-shadow: var(--hover-box-shadow);
    font-size: 1rem;
    border-radius: 3rem;
    transition: var(--transition);
    border: none;
    margin-top: .8rem;
    cursor: pointer;
}
.header-wrapper .cols-container .right-col nav button:hover{
    box-shadow: none;
    color: var(--text-color);
}
.header-wrapper .cols-container .right-col nav ul li:nth-child(1) a{ /*targeting 1st 'a' tag in li*/
    color: var(--text-color);
    font-weight: 900;
}
.header-wrapper .cols-container .right-col .photos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px,1fr));
/*auto-fill instructs the browser to automatically generate as many columns as can fit in the available space while maintaining a minimum width of 190 pixels.
minmax(190px, 1fr) defines the column size range. The column width can vary between a minimum of 190 pixels and a maximum of 1fr (1 fractional unit of available space).*/
gap: 60px 20px;
}
.header-wrapper .cols-container .right-col .photos :is(img, video){
    max-width: 100%; /*makes sure that the images wont exceed the width of parent container, */
    height: calc(100% - 102px);
    display: block;
    object-fit: cover;
}
.header-wrapper .cols-container .right-col .photos video { 
        /* padding-bottom: 4em; */
}
.comment button{
    top: 0;
    right: 0;
    border-radius: 10px;
    background: var(--main-color);
    color: var(--bg-color);
    padding: .6rem 1.5rem;
    box-shadow: var(--hover-box-shadow);
    font-size: 1rem;
    transition: var(--transition);
    border: none;
    margin-top: .8rem;
    cursor: pointer;
  }
  .comment button:hover{
    box-shadow: none;
    color: var(--text-color);
  }

  /*POST MODAL*/

.container .modal{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .83);
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
   
  }
  .container .modal span{
    color: var(--text-color);
    position: absolute;
    top: 0;
    right: 30px;
    font-size: 3rem;
    cursor: pointer;
    z-index: 100;
  }
  .container .modal img{
    border: 5px solid var(--bg-color);
    width: 41.7rem;
    height: 28rem;
   
  }
  .modal-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: fit-content;
  }
  .modal .right-side{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 28rem;
    width: 500px;
    background: var(--bg-color);
    top: 53.5%;
    left: 90%;
    color: var(--text-color);
  }
  .caption{
    font-size: 1.2rem;
    margin-left: .5rem;
  }
  .icons{
    font-size: 2rem;
    margin-left: .5rem;
  }
  .comment{
    position: relative;
    display: inline-block;
  }
  .comment input{
    background: none;
    color: var(--text-color);
    width: 70%;
    padding: 1rem;
    border-right: none;
    font-size: 1rem;
    padding-right: 30px; 
  }
 
  .btn{
    background: var(--main-color);
    color: var(--bg-color);
    padding: .6rem 1.5rem;
    box-shadow: var(--hover-box-shadow);
    font-size: 1.5rem;
    transition: var(--transition);
    border: none;
    margin-top: .8rem;
    cursor: pointer;
  }
  .btn:hover{
    box-shadow: none;
    color: var(--text-color);
  }
  
  .post-btn{
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: var(--hover-box-shadow);
    transition: var(--transition);
    padding: .3rem;
    border-radius: 5px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
  }
  .post-btn:hover{
    box-shadow: none;
    color: var(--text-color);
  }
  
  #searchInputAndResultsContainer {
    position: relative;
  }
  .comment .comment-info img.comment-profile_img{
    width: 50px;
    height: auto;
    border-radius: 50%;
  }




/* RESPONSIVNESS */

@media(min-width: 868px){
    .header-wrapper .cols-container{
        max-width: 1200px; /*Sets the maximum width of .cols-container to 1200 pixels*/
        margin: 0 auto;/*Centers the container horizontally by setting its left and right margins to auto.*/
        width: 90%;
        justify-content: space-between;
        display: grid;
        grid-template-columns: 1fr 2fr; /*Defines the grid layout with two columns, where the first column takes one fraction of the available space (1fr) and the second column takes two fractions (2fr).*/
        gap: 50px;
    }
    .header-wrapper .cols-container .left-col{
        padding: 25px 0;
    }
    .header-wrapper .cols-container .right-col nav ul{
        flex-direction: row;
        gap: 30px;
    }
    .header-wrapper .cols-container .right-col .photos{
        height: 365px;
        overflow: auto;
        padding: 0 0 30px;
    }
}

@media(min-width: 1017px){
    .header-wrapper .cols-container .left-col{
        margin: 0;
        margin-right: auto;
    }
    .header-wrapper .cols-container .right-col nav button{
        margin-top: 0;
    }
}