
        .searchContainer {
            position: absolute;
            display: flex;
            flex-direction: column;
            background-color: white;
            outline: 1px solid black;
            width: 11.1%;
            
        }

        .input {
            width: 20%;
            border: none;
            outline: 1px solid black;
        }

        