.container .modal{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .83);
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;
 
}
.container .modal span{
  color: var(--text-color);
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 3rem;
  cursor: pointer;
  z-index: 100;
}
.container .modal img{
  border: 5px solid var(--bg-color);
  width: 41.7rem;
  height: 28rem;
 
}
.modal-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: fit-content;
}
.modal .right-side{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 28rem;
  width: 500px;
  background: var(--bg-color);
  top: 53.5%;
  left: 90%;
  color: var(--text-color);
}
.caption{
  font-size: 1.2rem;
  margin-left: .5rem;
}
.icons{
  font-size: 2rem;
  margin-left: .5rem;
}
.comment{
  position: relative;
  display: inline-block;
}
.comment input{
  background: none;
  color: var(--text-color);
  width: 100%;
  padding: 1rem;
  border-right: none;
  font-size: 1rem;
  padding-right: 30px; 
}
.comment button{
  top: 0;
  right: 0;
  height: 40px;
  border-radius: 10px;
}
.btn{
  background: var(--main-color);
  color: var(--bg-color);
  padding: .6rem 1.5rem;
  box-shadow: var(--hover-box-shadow);
  font-size: 1.5rem;
  transition: var(--transition);
  border: none;
  margin-top: .8rem;
  cursor: pointer;
}
.btn:hover{
  box-shadow: none;
  color: var(--text-color);
}

.post-btn{
  background: var(--main-color);
  color: var(--bg-color);
  box-shadow: var(--hover-box-shadow);
  transition: var(--transition);
  padding: .3rem;
  border-radius: 5px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}
.post-btn:hover{
  box-shadow: none;
  color: var(--text-color);
}

#searchInputAndResultsContainer {
  position: relative;
}