@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&family=Poppins:wght@400;500&display=swap');

.searchContainer {
    display: none;
    flex-direction: column-reverse;
    position: absolute;
    top: 23px;
    background-color: white;
    outline: 1px solid black;
    width: 60%;

}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #ee09ee;
    --second-main-color: #38DD1D;
    --hover-box-shadow: 0 0 1rem #ee09ee;
    --gradient-bg-color: linear-gradient(to bottom, #1f242d, #ee09ee);
    --transition: all .4s ease;
}

.searchContainer {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 112px;
    background-color: var(--main-color);
    outline: 1px solid black;
    width: 17%;
    border-radius: 25px;
    padding: 0.4rem;
}

.searchContainer a {
    color: var(--text-color);
}

.searchContainer a:hover {
    background: var(--second-main-color);
    border-radius: 25px;
    height: 100%;
}

.input {
    width: 20%;
    border: none;
    outline: 2px solid black;
}

.searchButton {
    position: relative;
    margin-top: 20px;
}

.searchModal {
    display: none;
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}

.searchModal .right-side {
    background-color: var(--second-bg-color);
    padding: 5rem;
    border-radius: 25px;

}

#userName {
    width: 100%;
    margin-top: 1.5rem;
    background: none;
    border: 2px solid var(--main-color);
    padding: 0.5rem;
    font-size: 1rem;
    width: 100%;
    border-radius: 25px;
    color: var(--text-color);

}

::placeholder {
    color: var(--second-main-color);
}

#userName:focus {
    filter: brightness(100%);
    background: var(--main-color);
}

#searchInputAndResultsContainer {
    width: 100%;
}